*.swp
*.log
*.log.*
*.log-*
.DS_Store
/epgstation/custom.Dockerfile
/epgstation/data/streamfiles/*.ts
/epgstation/data/streamfiles/*.m3u8
!/epgstation/config/enc.js.template
!/epgstation/config/config.yml.template
!/epgstation/config/operatorLogConfig.sample.yml
!/epgstation/config/epgUpdaterLogConfig.sample.yml
!/epgstation/config/serviceLogConfig.sample.yml
/epgstation/data/*.json
/docker-compose.yml
!.gitkeep
